* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f79314;
}

p {
  color: white;
}

.loginPage {
  display: flex;
  height: 100vh;
}

.leftSide {
  background: linear-gradient(to left, hsl(225, 61%, 22%), black);
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  width: 50%;
}

.loginPageInterior {
  display: flex;
  width: 30%;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.welcomeMessage {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.title {
  color: #f79314;
  font-size: 18px;
  font-weight: 700;
  gap: 12px;
}

.text {
  color: #f79314;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.inputs {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 9px 17px;
  background: hsl(225, 62%, 17%);
  color: #f79314;
  font-size: 14px;
  font-weight: 600;
  height: 10%;
}

.inputsDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.loginButtonDiv {
  display: flex;
  align-self: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loginButton {
  background: #f79314;
  border-radius: 100px;
  border: none;
  padding: 8px 16px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
}

.loginButton:hover {
  background: #f79514c5;
}

.registerLink {
  font-weight: 700;
}
