* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

img {
  border-radius: 4px;
}

.button1 {
  display: inline-block;
  background-color: white;
  color: hsl(225, 61%, 22%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  font-size: 1.125rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}

.button1:hover {
  background-color: rgba(255, 255, 255, 0.797);
  transform: scale(1.05);
}

.button2 {
  display: inline-block;
  background-color: hsl(225, 61%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 6px;
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  font-size: 1.125rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}

.button2:hover {
  background-color: hsla(225, 61%, 22%, 0.752);
}

.header {
  height: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.097);
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
}

.headerText {
  font-size: 14px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.headerText a {
  position: relative;
  color: hsl(225, 61%, 22%);
  font-weight: bold;
  text-decoration: none;
}

.headerText a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f7931e;
  transition: width 0.6s ease;
}

a:hover::after {
  width: 100%;
}

.welcome {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background: linear-gradient(
    to right,
    hsl(225, 61%, 22%),
    hsl(225, 100%, 59%)
  );
}

.welcomeText {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  flex-direction: column;
}

.homePage1 {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 70vh;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
}

.homePage1Text {
  color: hsl(225, 61%, 22%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  flex-direction: column;
}

.highlightedProductsContainer {
  margin-top: 30px;
  width: 60%;
  display: flex;
  gap: 20px;
}

.highlightedProducts {
  width: 50%;
  background-color: rgba(178, 178, 178, 0.179);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.296);
  transition: all 0.35s;
  overflow: hidden;
}

.highlightedProducts img {
  border-radius: 6px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.highlightedProducts:hover {
  transform: scale(1.05);
}

.highlightedProductTitle {
  text-align: start;
  color: hsl(225, 61%, 22%);
  font-weight: bold;
}

.homePage2 {
  width: 100%;
  height: 50vh;
  background-color: rgba(178, 178, 178, 0.064);
}
.homePage3 {
  width: 100%;
  height: 50vh;
  background-color: rgb(255, 255, 255);
}

.footerContainer {
  max-width: 1700px;
  margin: 0 auto;
  padding: 3rem 1rem;
  background-color: hsl(225, 61%, 22%);
  color: #d1d5db;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .footerGrid {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

.footerGrid a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footerAbout p {
  font-size: 0.9rem;
  color: #d1d5db;
  margin-top: 1rem;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.footerLogo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #d1d5db;
  font-size: 20px;
}

.footerLogo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.footerGrid h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.fastNavigation li :hover {
  color: #f7931e;
}

.footerContact li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}

.footerSocial {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footerSocial a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footerSocial a:hover {
  background-color: #f7931e;
}

.footerBottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 0.85rem;
  width: 80%;
  text-align: center;
}
